<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Community Detail Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<!-- header -->
<header id="header">
	<div class="container">
		<div class="logo"><a th:href="@{/}">dev.jelee</a></div>
		<nav id="nav">
		  <ul class="gnb">
		  	<li><a th:href="@{/}">홈</a></li>
		    <li><a th:href="@{/board/community}">자유게시판</a></li>
		    <li><a th:href="@{/board/qna}">Q&A게시판</a></li>
		    <li><a th:href="@{/board/study}">공부게시판</a></li>
		  </ul>
		  <div class="authBtn">
		    <a th:href="@{/user/login}">log in</a>
		    <a th:href="@{/user/register}">sign up</a>
		  </div>
		</nav>
	</div>
</header>

<div class="container">
	<h1 th:text="${#strings.toUpperCase(category)} + ' 상세 페이지'">Detail Page</h1>
	<h4 th:text="'Category: ' + ${category}"></h4>
	<div class="fetchStatus">
		<div id="loading_id">loading... 로딩중...</div>
		<div id="error_id">error... 에러 발생...</div>
	</div>
	<a th:href="@{/board/{category}(category=${category})}" th:text="${category} + ' list'">Go to this category</a>
	<ul id="posts"></ul>
</div>
<script th:src="@{/js/boardDetail-fetch.js}"></script>
</body>
</html>