<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>커뮤니티 게시판 목록</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<!-- header -->
<header id="header">
	<div class="container">
		<div class="logo"><a th:href="@{/}">dev.jelee</a></div>
		<nav id="nav">
		  <ul class="gnb">
		    <li><a th:href="@{/board/community}">자유게시판</a></li>
		    <li><a th:href="@{/board/qna}">Q&A게시판</a></li>
		    <li><a th:href="@{/board/study}">공부게시판</a></li>
		  </ul>
		  <div class="authBtn">
		    <button>log in</button>
		    <button>sign up</button>
		  </div>
		</nav>
	</div>
</header>

<div class="container">
	<h1 th:text="${#strings.toUpperCase(category)} + ' List Page'">Detail Page</h1>
	<h4 th:text="'Category: ' + ${category}"></h4>
	<a th:href="@{/}">home</a>
	
	<h1 th:text="${category} + ' 게시판 목록'"></h1>
	<div id="loading_id">loading... 로딩중...</div>
	<div id="error_id">error... 에러 발생...</div>
	<ul id="boardList_id"></ul>
</div>

<script th:src="@{/js/boardList-fetch.js}"></script>
</body>
</html>