<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>회원가입 페이지</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<body>
<!-- header -->
<header id="header">
	<div class="headerGroup headerGroupAuth">
		<div class="container authContainer">
			<div class="authBtn">
			  	<div sec:authorize="!isAuthenticated()" class="authBtnStyle">
				    <a th:href="@{/user/login}">log in</a>
				    <a th:href="@{/user/signup}">sign up</a>
			  	</div>
			  	<div sec:authorize="isAuthenticated()" class="authBtnStyle">
			  		<p class="loginUser">안녕하세요, <span sec:authentication="name"></span>님</p>
				    <form th:action="@{/logout}" method="post">
				        <input type="submit" value="log out" class="logoutBtn"/>
				    </form>
			  	</div>
			  </div>
		</div>
	</div>
	<div class="headerGroup">
		<div class="container">
			<div class="logo"><a th:href="@{/}">dev.jelee</a></div>
			<nav id="nav">
			  <ul class="gnb">
			  	<li><a th:href="@{/}">홈</a></li>
			    <li><a th:href="@{/board/community}">자유게시판</a></li>
			    <li><a th:href="@{/board/qna}">Q&A게시판</a></li>
			    <li><a th:href="@{/board/study}">공부게시판</a></li>
			  </ul>
			</nav>
		</div>
	</div>
</header> <!-- header end -->


<!-- container -->
<div class="container">
  <h1>회원가입 페이지</h1>

  <div class="contentsWrap">
    <h3 class="contentsTitle">회원가입</h3>
    <!-- 에러 메시지 표시 -->
		<div id="errorMessage"></div>
    <div id="registerWrap">
      <form id="registerForm" th:action="@{/user/signup}" method="post">
        <div class="inputStyle">
          <input type="text" id="userId" name="userId" placeholder="아이디" required />
          <input type="password" id="userPw" name="userPw" placeholder="비밀번호" required />
          <input type="text" id="userName" name="userName" placeholder="이름" required />
          <input type="email" id="userEmail" name="userEmail" placeholder="이메일" required />
        </div>
        <button type="submit" id="registerBtn" class="btnGroup">회원가입</button>
      </form>
    </div> <!-- loginWrap end -->
	</div>  <!-- contentsWrap end -->
</div> <!-- container end -->

<script th:inline="javascript">
	// URL 쿼리 파라미터를 가져와서 에러 메시지를 표시
	const urlParams = new URLSearchParams(window.location.search);
	const errorMessage = urlParams.get('error');
	
	if (errorMessage) {
	    document.getElementById("errorMessage").innerText = errorMessage; // 에러 메시지 표시
	}
</script>

<!-- <script th:src="@{/js/userSignup.js}"></script> -->
</body>
</html>