@charset "UTF-8";

/**
  all
**/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 24px 20px;
}

table, th, td {
  border-collapse: collapse;
}



/**
  header style
**/
#header {
  width: 100%;
  background-color: salmon;
}
#header .container {
  display: flex;
  justify-content: space-between;
}
#header .container .logo {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 1.7;
}
#header .container #nav {
  display: flex;
}
#header .container #nav .gnb {
  display: flex;
  margin-right: 30px;
  line-height: 2.3;
}
#header .container #nav .gnb li:not(:last-child) {
  margin-right: 16px;
}
#header .container #nav .authBtn {
  display: flex; 
}
#header .container #nav .authBtn button {
  border: 0;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(211, 83, 69);
  color: #fff;
  transition: background-color ease 0.3s;
}
#header .container #nav .authBtn button:hover {
  background-color: rgb(157, 59, 48);
}
#header .container #nav .authBtn button:first-child {
  margin-right: 8px;
}

#header a {
  color: #fff;
  text-decoration: none;
  transition: color ease 0.3s;
}
#header a:hover {
  color: rgb(149, 59, 49);
}



/** 
  table style 
**/
.tableWrap {
  width: 100%;
  padding: 40px 50px;
  margin-top: 20px;
  background-color: #f9f9f9;
  overflow: hidden;
}
.tableWrap .tableWrapTitle {
  margin-bottom: 20px;
}
.tableWrap .table {
  width: 100%;
  /* border: 1px solid black; */
  border-radius: 3px;
  border-style: hidden;
  overflow: hidden;
  box-shadow: 0 0 0 1px #a0a0a0;
}
.table, th, td {
  border: 1px solid #a0a0a0;
  background-color: #fff;
  text-align: center;
  line-height: 1.2;
}
.table th, .table td { padding: 10px; }
.table th { background-color: #e4e4e4; }
.table td { font-size: 15px;}
.table td.postsTitle { 
  text-align: left; 
  text-indent: 4px;
}
.table td.postsTitle a {
  color: #000;
  text-decoration: none;
}
.table td.postsTitle a:hover {
  color: rgb(211, 83, 69);
}
.tableWrap .table thead th { font-weight: 700; }
.tableWrap .table thead th:nth-child(1) { width:12%; }
.tableWrap .table thead th:nth-child(2) { width:64%; }
.tableWrap .table thead th:nth-child(3) { width:12%; }
.tableWrap .table thead th:nth-child(4) { width:12%; }
