<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jelee.board.mapper.BoardMapper">
	<select id="getBoardById" parameterType="map" resultType="com.jelee.board.model.Board">
		SELECT id, title, content, author_id, category, created_at, updated_at FROM board_db WHERE category = #{category} AND id = #{id};
	</select>
	
	<select id="getBoardListLimit10" resultType="com.jelee.board.model.Board">
		SELECT id, title, content, author_id, category, created_at, updated_at 
		FROM board_db 
		WHERE category = #{category}
		ORDER BY id DESC 
		LIMIT 10;
	</select>
</mapper>


