<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jelee.board.mapper.UserMapper">
	<insert id="userRegister" parameterType="com.jelee.board.model.User">
		INSERT INTO user_db(user_id, user_pw, user_name) VALUES(#{userId}, #{userPw}, #{userName});
	</insert>
	<select id="getUserPwByUserId" resultType="com.jelee.board.model.User">
		SELECT id, user_id, user_pw, user_name FROM user_db WHERE user_id = #{user_id};
	</select>
</mapper>